<div align="center">
    <div class="btn" id="auth-social">Войти через социальную сеть</div>
    <div><b>Внимание!</b> Регистрация через логин/пароль отсутствует. Если вы новый пользователь, то войти в чат
    можно только с помощью своих аккаунтов <a href="http://vk.com" target="_blank">ВК</a> или <a href="https://aboutme.google.com/" target="_blank">Google</a></div>
    <div>
        <a href="" class="link-open-login-auth">У меня есть логин/пароль</a>
    </div>
</div>
<div class="hidden-auth hide">
    <div>Логин: <input type="text" id="auth_login"/></div>
    <div>Пароль: <input type="password" id="auth_pass"/></div>
    <div><input type="button" id="auth_but" class="btn" value="Войти"/></div>
</div>