<p>Причина бана: <select id="banreason">
    <option value="Мат или ругательство в сообщении">Мат или ругательство в сообщении</option>
    <option value="Мат в картинке или видео">Мат в картинке или видео</option>
    <option value="Ссылка на ресурс с нецензурным содержанием">Ссылка на ресурс с нецензурным содержанием</option>
    <option value="Порно или хентай">Порно или хентай</option>
    <option value="Контент с насилием, расчлененкой или гуро">Контент с насилием, расчлененкой или гуро</option>
    <option value="Оскорбление пользователя">Оскорбление пользователя</option>
    <option value="Некорректное поведение">Некорректное поведение</option>
</select></p>
<p>Время бана: <select id="bantime">
    <option value="15">15 минут</option>
    <option value="30">30 минут</option>
    <option value="60">1 час</option>
    <option value="180">3 часа</option>
    <option value="360">6 часов</option>
    <option value="720">12 часов</option>
    <option value="1440">1 день</option>
    <option value="4320">3 дня</option>
    <option value="10080">1 неделя</option>
    <option value="40320">1 месяц</option>
    <option value="0">Навсегда</option>
</select></p>
<div><input type="button" class="btn" id="banBtn" value="Забанить!"/></div>