<div style="text-align:center;margin:20px 100px"><img src="img/banned.jpg" alt=""/>
    <p><b>Вы забанены в этой комнате на {time} мин. {reason}</b></p>
    <p>Вы себя вели настолько неуважительно к чату и его пользователям, что теперь читаете эти строки без права зайти в
        комнату еще {time} мин. Какого хрена? Будет время -
        <a target="_blank" href="https://github.com/redspirit/hitagi-client/wiki/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D1%87%D0%B0%D1%82%D0%B0">
            почитайтеправила</a>, они очень простые и основаны на самом обычном взаимном уважении между людьми. Если вы
        принципиально считаете себя выше всех, то лучше сюда не возвращаться.</p></div>