<div class="pic-block">
    <a target="_blank" href="{url2}" style="text-decoration: none;">
        <img class="inlinepic" src="{url1}" alt=""/>
    </a>
    <img src="img/closeimg.png" class="image-close" alt="">
</div>