<table id="proftabl">
    <tr>
    <tr>
        <td>Реальное имя:</td>
        <td><input type="text" id="pr_realname"/></td>
    </tr>
    <td>Пол:</td>
    <td><select id="pr_gender">
        <option value="0">Не указан</option>
        <option value="1">Мальчик</option>
        <option value="2">Девочка</option>
    </select></td>
    </tr>
    <tr>
        <td>День рождения:</td>
        <td><input type="text" id="pr_birthday"/></td>
    </tr>
    <tr>
        <td>Страна:</td>
        <td><input type="text" id="pr_country"/></td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td><input type="text" id="pr_email"/></td>
    </tr>
    <tr>
        <td>Блог / страничка:</td>
        <td><input type="text" id="pr_homepage"/></td>
    </tr>
    <tr>
        <td>Телефон:</td>
        <td><input type="text" id="pr_phone"/></td>
    </tr>
    <tr>
        <td>ICQ:</td>
        <td><input type="text" id="pr_icq"/></td>
    </tr>
    <tr>
        <td>Skype:</td>
        <td><input type="text" id="pr_skype"/></td>
    </tr>
    <tr>
        <td>Twitter:</td>
        <td><input type="text" id="pr_twitter"/></td>
    </tr>
    <tr>
        <td>Facebook:</td>
        <td><input type="text" id="pr_facebook"/></td>
    </tr>
    <tr>
        <td>ВКонтакте:</td>
        <td><input type="text" id="pr_vk"/></td>
    </tr>
    <tr>
        <td>Видимость профиля:</td>
        <td><select id="pr_vis">
            <option value="0">Видно всем</option>
            <option value="1">Только зарегистрированным</option>
            <option value="2">Скрыто</option>
        </select></td>
    </tr>
</table>
<div style="margin-top: 10px"><a href="#" id="change_nick">Изменить ник</a></div>
<div style="margin-top: 5px"><a href="" class="to-account-linking-list">Связанные аккаунты</a></div>
<div align="center"><input type="button" class="btn" id="prof_save" value="Сохранить"/></div>