<div>
    <input style="width:200px;" type="text" id="newnicktext" value="{txt}">
</div>
<p> Менять ник можно не чаще одногораза в неделю</p>
<input type="button" id="newnick_but" class="btn" value="Изменить ник"/>
