<table user="{name}" class="user">
    <tr>
        <td class="cc1"><img class="profava" src="{url}" alt="" nn={n}/></td>
        <td scope="col" style="padding-top:6px">
            <img class="stateSign" src="img/{states}" alt=""/>
            <div class="statetxt">{statest}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="cc3">
            <div class="profnick" title="Юзер: {name}">{n}</div>
            <div class="ustatus">{st}</div>
        </td>
    </tr>
</table>