<table id="proftabl">
    <tr>
    <tr>
        <td class="r">Реальное имя:</td>
        <td id="vw_realname"></td>
    </tr>
    <tr>
        <td class="r">Пол:</td>
        <td id="vw_gender"></td>
    </tr>
    <tr>
        <td class="r">День рождения:</td>
        <td id="vw_birthday"></td>
    </tr>
    <tr>
        <td class="r">Страна:</td>
        <td id="vw_country"></td>
    </tr>
    <tr>
        <td class="r">E-mail:</td>
        <td id="vw_email"></td>
    </tr>
    <tr>
        <td class="r">Блог / страничка:</td>
        <td id="vw_homepage"></td>
    </tr>
    <tr>
        <td class="r">Телефон:</td>
        <td id="vw_phone"></td>
    </tr>
    <tr>
        <td class="r">ICQ:</td>
        <td id="vw_icq"></td>
    </tr>
    <tr>
        <td class="r">Skype:</td>
        <td id="vw_skype"></td>
    </tr>
    <tr>
        <td class="r">Twitter:</td>
        <td id="vw_twitter"></td>
    </tr>
    <tr>
        <td class="r">Facebook:</td>
        <td id="vw_facebook"></td>
    </tr>
    <tr>
        <td class="r">ВКонтакте:</td>
        <td id="vw_vk"></td>
    </tr>
</table>