<table user="{name}" class="user">
    <tr>
        <td rowspan="2" scope="col" class="cc1"><img class="profava" src="{url}" alt="" nn={n}></td>
        <td scope="col" style="padding-top:6px"><img class="stateSign" src="img/{states}" alt=""/>
            <div class="statetxt">{statest}</div>
            <div class="awaystatus">{awstatus}</div>
            <i class="fa {deviceTypeClass} user-device-icon"></i>
        </td>
    </tr>
    <tr>
        <td class="cc2"><img class="upriv" title="{pt}" src="img/{p}" alt=""/>
            <div class="usmenu" priv="{priv}"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="cc3">
            <div class="profnick" title="Логин: {name}">{n}</div>
            <div class="ustatus">{st}</div>
        </td>
    </tr>
</table>