<b>Бот "Testovich" от 10.01.2014</b>

Внимание! Этот бот следит за матом пользователей, так что даже не думайте тут материться!

Список команд:
<i>!я [сообщение]</i> - команда действия юзера.
<i>!песня [название песни]</i> - дает ссылку на указанную песню в ВК.
<i>!нг</i> - показывает сколько осталось до Нового Года.
<i>!кубик</i> - юзер выкидывает кубик от 1 до 6.
<i>!монета</i> - кинуть монетку, выпадет либо орел либо решка.
<i>!бутылка</i> - крутить бутылку, которая выпадает на одного из юзеров комнаты.
<i>!бутылка игнор</i> - не показывать сообщения бутылки.
<i>!бутылка вернись</i> - вернуть отображение сообщений бутылки.
<i>!викторина</i> - показать справку по Викторине.
<i>!рулетка</i> - Русская Рулетка, пиф-паф ой-ой-ой.
<i>!шапка [есть|нет]</i> - скрыть или показать шапку чата. 
<i>!дворецкий</i> - управление чатовским дворецким. 
