.reconnection-panel{
    display: none;
}
.replace-connect-panel{
    display: none;
}
.reconnection-panel .background, .replace-connect-panel .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 999;
}

.reconnection-panel .connect-info, .replace-connect-panel .connect-info{
    position: absolute;
    width: 500px;
    box-sizing: border-box;
    left: 50%;
    margin-top: 200px;
    margin-left: -250px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    z-index: 1000;
}
.bold{
    font-weight: bold;
}
.reconnection-panel .connect-info .icon{
    text-align: center;
}
.reconnection-panel .connect-info .icon img{
    width: 190px;
}


.hide{
    display: none;
}

.link-social-row{
    overflow: hidden;
    height: 16px;
}
.link-social-row .row-type{
    float: left;
    margin-left: 10px;
}
.link-social-row .row-nick{
    float: left;
    font-weight: bold;
}
.link-social-row .row-action{
    float: right;
    font-size: 13px;
    color: #dc1616;
    cursor: pointer;
}
.link-social-row .row-action:hover{
    color: #fff;
    background-color: #dc1616;
    padding: 1px 8px;
}
.user-device-icon{
    position: absolute;
    right: 7px;
    margin-top: -13px;
    font-size: 15px;
}