html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: small;
    font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
    color: #303030;
    background-image: url(../themes/default/bg.png);
}
a{
    color: #0095EB;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
b{
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1{
    font-size: 180%;
    margin: 20px 0;
    color: black;
}
h2{
    font-size: 160%;
    color: black;
    margin-bottom: 20px;
}
#header{
    padding: 5px;
    height: 80px;
}
#hist, .rating{
    margin-left: 20px;
}
#hist p, .rating p{
    font-size: 110%;
    padding: 1px;
}
#hist p img{
    max-height: 600px;
    max-width: 800px;
}
#hist p span.dt{
    font-size: 70%;
    color:green;
}
.r{ color: red; }